* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-color: #01080e !important;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}
ul li {
  list-style: none;
}
